<!-- Start RUSH Order Section -->
{% if settings.cart_rush_enable %}
{% assign rushOrder = 0 %}
{% for item in cart.items %}
  {% if item.product.title contains 'Rush Order' %}
    {% assign rushOrder = rushOrder | plus:1 %}
  {% endif %}
{% endfor %}
 
{% if rushOrder == 0 %}
<div class="cart-upsell">
  <div class="cart-upsell-row">
  <div class="cart-upsell-image"> 
    <img src="https://cdn.shopify.com/s/files/1/2118/0861/files/Rush-Order-Upgrade-Invision.jpg?980537364978922873">
  </div>
  <div>
    <p>Need your order as quick as possible? Move to the front of the line by adding a <strong>RUSH</strong> to your order for a $75 fee.</p>
    <p>
      <a href="/cart/add?id=625993875464">
        <div class="button"><span class="make-rush-order">Make Rush Order</span></div>
      </a>
    </p>
  </div>
    </div>
  <div class="make-rush-details"><strong>How it works:</strong> your order will move to the top of our processing queue and be shipped as quickly as possible.</div>
  </div>
{% endif %}
{% endif %}
<!-- End RUSH Order Section -->
